body {
    margin: 60px auto;
    width: 70%;
    background-color: #E4D9FF;
    color: #273469;
}
nav {
    border-bottom: 4px double #273469;
    padding-bottom: 4px;
}
nav ul, footer ul {
    font-family: 'Rock Salt', cursive;
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
}
a {
    text-decoration: none;
    padding: 20px;
}

/* Considering making id for button */
button {
    border: none;
    font-weight: bold;
    float: right;
    padding: 20px;
    position: relative;
    bottom: 20px;
}

button:hover {
    background-color: #273469;
    color: #E4D9FF;
}

ul.posts li a:hover {
    font-weight: bold;
    text-decoration: underline;
}

nav ul li a:hover, footer ul li a:hover {
    color: #E4D9FF;
    background-color: #273469;
}

h1 {
    font-size: 2.5em;
    font-family: 'Rock Salt', cursive;
	font-style: italic;
}
p {
	font-family: 'Nothing You Could Do', cursive;
    font-size: 1.0em;
    line-height: 1.4em;
}
footer {
    border-top: 1px solid #273469;
    font-size: .8em;
    padding-top: 8px;
}

ul.posts { 
    margin: 20px auto 40px; 
}

ul.posts li {
    list-style: none;
    font-size: 1.5em;
	font-family: 'Nothing You Could Do', cursive;
}