#header-nav {
  background-color: #f6b319;
  color: white;
}

.col-xs-12 {
  background-color: black;
  color: white;
  min-height: 1000px;
}

.navbar-header button.navbar-toggle, navbar-header .icon-bar {
  border: ;
}

.navbar-header button.navbar-toggle {
  clear: both;
}

#nav-list a {
  text-align: center;
}

@media (min-width: 768px) {
  #content {
    width: 98%;
  }

}

@media (max-width: 767px) {
  #content {
    width: 80%;
  }
}
