<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" href="stylesheets/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/cv/Ricardo Godinez.pdf">CV</a></li>
	        		<li><a href="/archive">Archive</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:cyrik13@yahoo.com">email</a></li>
	        		<li><a href="https://github.com/rgodinez">My Empty Github Profile</a></li>
			</ul>
			<button type="button" onclick="performCheck()">New post</button>
			</footer>
		</body>
	</html>
